
*.txt

*.class

ProgettoTPScLIENT/ProgettoTPS/nbproject/private/private.xml

ProgettoTPScLIENT/ProgettoTPS/nbproject/private/private.properties
/ProgettoTPScLIENT/ProgettoTPS/nbproject/private/